/*
 * COLORS
 * 
 */
/*$color-background-inactive: #f8f9fa;*/
/*$color-brand: red;*/
/*$color-marketing-grey: #373d49;*/
/*
 * FONT-SIZE
 * 
 */
/*$font-size-h1: floor(($font-size-base * 1.85));*/
/*$font-size-h2: floor(($font-size-base * 1.7)); 
$font-size-h3: ceil(($font-size-base * 1.385)); 
$font-size-h4: ceil(($font-size-base * 1.32)); 
$font-size-h5: ceil(($font-size-base * 1.24)); 
$font-size-h6: ceil(($font-size-base * 1.08));*/
/*
 * FONT-FAMILY
 * 
 */
/*
 * FONT-WEIGHT
 * 
 */
/*
 * BORDER
 * 
 */
/*
 * HEADER
 * 
 */
/*
 * SIDEBAR
 * 
 */
/*
 * APP-SWITCHER
 * 
 */
/*
 * RIBBON
 * 
 */
/*
 * FOOTER
 * 
 */
/*
 * WIZARDS
 * 
 */
/*
 * UI ELEMENTS
 * 
 */
/*
 * CONNEX
 * 
 */
/*
 * SIDEBAR - STROM
 * 
 */
/*$main-sidepanel-width-expanded: 385px;*/
/*$main-sidebar-width-expanded: 145px;*/
/*
 * placeholder 
 * 
 */
/*
 * prefixs 
 * 
 */
/*
 * transition 
 * 
 */
/*
 * calc 
 * 
 */
/*
 * box-shadow 
 * @include box-shadow(1px,1px,1px,0, #fff, true);
 * 
 */
/*
 * rotate 
 * 
 */
/*
 * scale 
 * 
 */
/*
 * translate 
 * 
 */
/*
 * skew 
 * 
 */
/*
 * flex 
 * 
 */
/*
 * absolute 
 * 
 */
.loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 80px;
  background-color: rgba(242, 243, 246, 0.7);
}

.loader.loading-fullScreen {
  position: fixed;
  /*z-index: 9;*/
  z-index: 999;
}

.loader .loader-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader .loader-container:after {
  content: '';
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  height: 70px;
  width: 70px;
  border: 6px solid #cfd8dc;
  border-radius: 50%;
  border-top: 6px solid #0083a5;
  -moz-animation: spin 1.5s linear infinite;
  /* Firefox */
  -webkit-animation: spin 1.5s linear infinite;
  /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Firefox */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
