/*
 * COLORS
 * 
 */
/*$color-background-inactive: #f8f9fa;*/
/*$color-brand: red;*/
/*$color-marketing-grey: #373d49;*/
/*
 * COLORS
 * 
 */
/*$color-background-inactive: #f8f9fa;*/
/*$color-brand: red;*/
/*$color-marketing-grey: #373d49;*/
/*
 * FONT-SIZE
 * 
 */
/*$font-size-h1: floor(($font-size-base * 1.85));*/
/*$font-size-h2: floor(($font-size-base * 1.7)); 
$font-size-h3: ceil(($font-size-base * 1.385)); 
$font-size-h4: ceil(($font-size-base * 1.32)); 
$font-size-h5: ceil(($font-size-base * 1.24)); 
$font-size-h6: ceil(($font-size-base * 1.08));*/
/*
 * FONT-FAMILY
 * 
 */
/*
 * FONT-WEIGHT
 * 
 */
/*
 * BORDER
 * 
 */
/*
 * HEADER
 * 
 */
/*
 * SIDEBAR
 * 
 */
/*
 * APP-SWITCHER
 * 
 */
/*
 * RIBBON
 * 
 */
/*
 * FOOTER
 * 
 */
/*
 * WIZARDS
 * 
 */
/*
 * UI ELEMENTS
 * 
 */
/*
 * CONNEX
 * 
 */
/*
 * SIDEBAR - STROM
 * 
 */
/*$main-sidepanel-width-expanded: 385px;*/
/*$main-sidebar-width-expanded: 145px;*/
/* ----------------------------- */
/* font - reset */
/* ----------------------------- */
h1, .h1 {
  font-size: 22px;
  /* equiv 24px */
  line-height: 1.5;
  /*margin: .8077em 0 0 0;*/
  margin: 0 0 5px;
}

h2, .h2 {
  font-size: 20px;
  /* equiv 22px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: .875em 0 0 0;*/
}

h3, .h3 {
  font-size: 18px;
  /* equiv 20px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: .9545em 0 0 0;*/
}

h4, .h4 {
  font-size: 16px;
  /* equiv 18px */
  line-height: 1.05;
  margin: 0 0 5px;
  /*margin: 1.05em 0 0 0;*/
}

h5, .h5 {
  font-size: 16px;
  /* equiv 16px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: 1.1667em 0 0 0;*/
}

h6, .h6 {
  font-size: 16px;
  /* equiv 14px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: 1.3125em 0 0 0;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  color: #2f3943;
  font-family: "Roboto", sans-serif;
}

a {
  /*color: $color-text-primary;*/
  color: #00acf2;
}

a:hover, a:focus, a:active {
  color: #73879c;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus,
button,
button:active,
button:focus,
object,
embed,
input::-moz-focus-inner {
  outline: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #73879c;
  line-height: 1.5;
  margin: 0px;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #73879c;
  line-height: 1.5;
}

/*p {
    margin: 0 0 10px;
}*/
small {
  font-size: 85%;
}

.bold {
  font-weight: 700;
}

.text-bold, .text-bold.table td, .text-bold.table th {
  font-weight: 500;
}

.boxing-text {
  margin: 0px;
}

address {
  margin-bottom: 20px;
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  color: #2f3943;
}

/*
 * FONT-SIZE
 * 
 */
/*$font-size-h1: floor(($font-size-base * 1.85));*/
/*$font-size-h2: floor(($font-size-base * 1.7)); 
$font-size-h3: ceil(($font-size-base * 1.385)); 
$font-size-h4: ceil(($font-size-base * 1.32)); 
$font-size-h5: ceil(($font-size-base * 1.24)); 
$font-size-h6: ceil(($font-size-base * 1.08));*/
/*
 * FONT-FAMILY
 * 
 */
/*
 * FONT-WEIGHT
 * 
 */
/*
 * BORDER
 * 
 */
/*
 * HEADER
 * 
 */
/*
 * SIDEBAR
 * 
 */
/*
 * APP-SWITCHER
 * 
 */
/*
 * RIBBON
 * 
 */
/*
 * FOOTER
 * 
 */
/*
 * WIZARDS
 * 
 */
/*
 * UI ELEMENTS
 * 
 */
/*
 * CONNEX
 * 
 */
/*
 * SIDEBAR - STROM
 * 
 */
/*$main-sidepanel-width-expanded: 385px;*/
/*$main-sidebar-width-expanded: 145px;*/
.content {
  font-size: 14px;
  position: relative;
}

.content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.org-chart {
  display: block;
  clear: both;
  margin-bottom: 30px;
  position: relative;
}

.org-chart ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.org-chart ul li {
  position: relative;
}

.org-chart ul li .box {
  display: block;
  /*border: 3px solid $color-border;*/
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  /*color: $color_1;*/
  font-size: 12px;
  /*box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.4);*/
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  transition: all linear .1s;
  background: #fff;
  /*padding: 4px;
                height: 60px;*/
}

.org-chart .lvl-b {
  background: green;
  color: #fff;
}

.org-chart .board {
  width: 70%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.org-chart .board:before {
  content: "";
  display: block;
  position: absolute;
  height: 150px;
  width: 0px;
  border-left: 2px solid #cfd8dc;
  margin-left: 49%;
  top: 15px;
}

.org-chart ul.columnOne {
  height: 90px;
  position: relative;
  width: 100%;
  display: block;
  clear: both;
}

.org-chart ul.columnOne li {
  width: 30%;
  margin: 0px auto;
  top: 20px;
}

.org-chart ul.columnTwo {
  position: relative;
  width: 100%;
  display: block;
  height: 90px;
  clear: both;
}

.org-chart ul.columnTwo li {
  width: 30%;
  float: right;
}

.org-chart ul.columnTwo li:first-child {
  width: 30%;
  float: left;
}

.org-chart ul.columnTwo:before {
  content: "";
  display: block;
  position: relative;
  width: 80%;
  height: 10px;
  border-top: 2px solid #cfd8dc;
  margin: 0 auto;
  /*top: 40px;*/
  top: 25px;
}

.org-chart ul.columnThree {
  position: relative;
  width: 100%;
  display: block;
  clear: both;
}

.org-chart ul.columnThree li {
  width: 30%;
  margin-left: 5%;
  float: left;
}

.org-chart ul.columnThree li:first-child {
  width: 30%;
  float: left;
  margin-left: 0;
}

.org-chart ul.columnThree li:last-child {
  width: 30%;
  float: right;
  margin-left: 0;
}

.org-chart ul.columnThree:before {
  content: "";
  display: block;
  position: relative;
  width: 80%;
  height: 10px;
  border-top: 2px solid #cfd8dc;
  margin: 0 auto;
  /*top: 40px;*/
  top: 25px;
}

.org-chart .departments {
  width: 100%;
  display: block;
  clear: both;
}

.org-chart .departments:before {
  content: "";
  display: block;
  width: 66%;
  height: 22px;
  border-top: 2px solid #cfd8dc;
  border-left: 2px solid #cfd8dc;
  border-right: 2px solid #cfd8dc;
  margin: 0 auto;
  top: 0px;
}

.org-chart .department {
  border-left: 2px solid #cfd8dc;
  width: 32.2%;
  float: left;
  margin: 0px 4px;
}

.org-chart .department:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 22px;
  border-left: 2px solid #cfd8dc;
  left: 50%;
  top: -22px;
}

.org-chart .department:first-child:after {
  display: none;
}

.org-chart .department:last-child:after {
  display: none;
}

.org-chart .department span {
  /*border-left: 1px solid $color-border;*/
}

.org-chart .department li {
  padding-left: 25px;
  border-bottom: 2px solid #cfd8dc;
  height: 80px;
}

.org-chart .department li .box {
  background: #fff;
  top: 38px;
  position: absolute;
  z-index: 1;
  width: 95%;
  height: auto;
  vertical-align: middle;
  right: 0px;
  line-height: 14px;
  border: 3px solid #cfd8dc;
  height: 60px;
}

.org-chart .department .sections {
  /*margin-top: -20px;*/
  margin-top: -10px;
}

.org-chart .department .sections .box-level {
  top: 60px;
}

.org-chart .department.central {
  /*background: #F5EEC9;*/
}

.org-chart .department.central:after {
  display: none;
}

.org-chart.cf {
  *zoom: 1;
}

.org-chart.cf:before {
  content: " ";
  display: table;
}

.org-chart.cf:after {
  content: " ";
  display: table;
  clear: both;
}

.responsive-content {
  width: 767px;
  margin: 0px auto;
}

.responsive-content .org-chart .board {
  margin: 0px;
  width: 100%;
}

.responsive-content .org-chart .departments:before {
  border: none;
}

.responsive-content .org-chart .department {
  float: none;
  width: 100%;
  margin-left: 0;
  /*background: #F5EEC9;*/
  margin-bottom: 40px;
}

.responsive-content .org-chart .department:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 60px;
  border-left: 2px solid #cfd8dc;
  z-index: 1;
  top: -45px;
  left: 0%;
  margin-left: -2px;
}

.responsive-content .org-chart .department:after {
  display: none;
}

.responsive-content .org-chart .department:first-child:before {
  display: none;
}

@media all and (max-width: 767px) {
  .org-chart .board {
    margin: 0px;
    width: 100%;
  }
  .org-chart .departments:before {
    border: none;
  }
  .org-chart .department {
    float: none;
    width: 100%;
    margin-left: 0;
    /*background: #F5EEC9;*/
    margin-bottom: 40px;
  }
  .org-chart .department:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 60px;
    border-left: 2px solid #cfd8dc;
    z-index: 1;
    top: -45px;
    left: 0%;
    margin-left: -2px;
  }
  .org-chart .department:after {
    display: none;
  }
  .org-chart .department:first-child:before {
    display: none;
  }
}
