/*
 * COLORS
 * 
 */
/*$color-background-inactive: #f8f9fa;*/
/*$color-brand: red;*/
/*$color-marketing-grey: #373d49;*/
/*
 * COLORS
 * 
 */
/*$color-background-inactive: #f8f9fa;*/
/*$color-brand: red;*/
/*$color-marketing-grey: #373d49;*/
/*
 * FONT-SIZE
 * 
 */
/*$font-size-h1: floor(($font-size-base * 1.85));*/
/*$font-size-h2: floor(($font-size-base * 1.7)); 
$font-size-h3: ceil(($font-size-base * 1.385)); 
$font-size-h4: ceil(($font-size-base * 1.32)); 
$font-size-h5: ceil(($font-size-base * 1.24)); 
$font-size-h6: ceil(($font-size-base * 1.08));*/
/*
 * FONT-FAMILY
 * 
 */
/*
 * FONT-WEIGHT
 * 
 */
/*
 * BORDER
 * 
 */
/*
 * HEADER
 * 
 */
/*
 * SIDEBAR
 * 
 */
/*
 * APP-SWITCHER
 * 
 */
/*
 * RIBBON
 * 
 */
/*
 * FOOTER
 * 
 */
/*
 * WIZARDS
 * 
 */
/*
 * UI ELEMENTS
 * 
 */
/*
 * CONNEX
 * 
 */
/*
 * SIDEBAR - STROM
 * 
 */
/*$main-sidepanel-width-expanded: 385px;*/
/*$main-sidebar-width-expanded: 145px;*/
/* ----------------------------- */
/* font - reset */
/* ----------------------------- */
h1, .h1 {
  font-size: 22px;
  /* equiv 24px */
  line-height: 1.5;
  /*margin: .8077em 0 0 0;*/
  margin: 0 0 5px;
}

h2, .h2 {
  font-size: 20px;
  /* equiv 22px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: .875em 0 0 0;*/
}

h3, .h3 {
  font-size: 18px;
  /* equiv 20px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: .9545em 0 0 0;*/
}

h4, .h4 {
  font-size: 16px;
  /* equiv 18px */
  line-height: 1.05;
  margin: 0 0 5px;
  /*margin: 1.05em 0 0 0;*/
}

h5, .h5 {
  font-size: 16px;
  /* equiv 16px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: 1.1667em 0 0 0;*/
}

h6, .h6 {
  font-size: 16px;
  /* equiv 14px */
  line-height: 1.5;
  margin: 0 0 5px;
  /*margin: 1.3125em 0 0 0;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  color: #2f3943;
  font-family: "Roboto", sans-serif;
}

a {
  /*color: $color-text-primary;*/
  color: #00acf2;
}

a:hover, a:focus, a:active {
  color: #73879c;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus,
button,
button:active,
button:focus,
object,
embed,
input::-moz-focus-inner {
  outline: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #73879c;
  line-height: 1.5;
  margin: 0px;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #73879c;
  line-height: 1.5;
}

/*p {
    margin: 0 0 10px;
}*/
small {
  font-size: 85%;
}

.bold {
  font-weight: 700;
}

.text-bold, .text-bold.table td, .text-bold.table th {
  font-weight: 500;
}

.boxing-text {
  margin: 0px;
}

address {
  margin-bottom: 20px;
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
  color: #2f3943;
}

/*.blue-print {
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-perspective: 3500px;
    perspective: 3500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}*/
.levels--open .level.level--current {
  opacity: 1;
}

/*.level.level--current {
    -webkit-transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
    transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
}*/
.level.level--current {
  -webkit-transform: translateZ(20vmin) rotate3d(0, 0, 1, 20deg);
  transform: translateZ(20vmin) rotate3d(0, 0, 1, 20deg);
}

.level:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  /* position: fixed; */
  /*top: 0;
    left: 0;
    overflow: hidden;
    width: calc(100vw - 275px);
    height: 100vh;*/
}

.main-blue-print {
  /* position: fixed; */
  top: 0;
  left: 0;
  overflow: hidden;
  width: calc(100vw - 275px);
  height: 100vh;
}

.blue-print {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /*pointer-events: none;*/
  -webkit-perspective: 3500px;
  perspective: 3500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 14% 43%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/*.surroundings, .levels {
    -webkit-transform: rotateX(45deg) rotateZ(-20deg) translateZ(-10vmin);
    transform: rotateX(48deg) rotateZ(-34deg) translateZ(-16vmin);
}*/
/*.surroundings, .levels {
    -webkit-transform: rotateX(45deg) rotateZ(-20deg) translateZ(-10vmin);
    transform: rotateX(36deg) rotateZ(-32deg) translateZ(-16vmin);
}*/
.surroundings, .levels {
  -webkit-transform: rotateX(33deg) rotateZ(-30deg) translateZ(-20vmin);
  transform: rotateX(33deg) rotateZ(-30deg) translateZ(-20vmin);
}

.levels {
  width: 93%;
  height: 68%;
  /* margin: -41% 0 0 -47%; */
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.levels--selected-5 {
  width: 95%;
  height: 76%;
  /* margin: -41% 0 0 -47%; */
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.static {
  cursor: not-allowed;
}

.draggable {
  cursor: move;
}
